body {
	background-color: #0d0d0d;
	color: #fafafa;
	font-family: monospace;
}

a:link {
	color: #fafafa;
	font-size: larger;
}

a:visited {
	color: #fafafa;
}

#nav {
	position: fixed;
	width: 100%;
	background-color: #0d0d0d;
}
#banner {
}

pre {
	font-size: x-small;
	font-weight: bold;
}
